.table-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #ececec;
    background: #FFFFFF;

    &:last-child{
        border: 0;
    }

    &:hover{
        background: #F5F7F9;
    }

    .table-row__cell{
        display: flex;
        align-items: center;
        position: relative;
        padding: 8px 16px;
        border-right: 1px solid #ececec;

        &:last-child{
            border: 0;
        }

        &.table-row__cell--title {
            width: 60%;
        }

        &.table-row__cell--price {
            width: 15%;
        }

        &.table-row__cell--quantity {
            width: 15%;
            text-align: center;
        }

        &.table-row__cell--remove {
            width: 10%;
        }
    }

    
}