.input-text{
  position: relative;
  width: 100%;
  height: max-content;
  padding: 8px;

  &:last-child{
    margin: 0;
  }

  .input-text__field{
    position: relative;
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    font-size: 14px;
    border: 0;
    border-radius: 8px;
    background: #ececec;
  }
}