*{
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    background: #f7f7f7;
}

ol, ul, li{
    list-style: none;
}

blockquote, q{
    quotes: none;

    &:before{
        content: '';
        content: none;
    }
}
