.popup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.2);

  .popup__window{
    position: relative;
    min-width: 500px;
    height: max-content;
    padding: 24px;
    border-radius: 8px;
    background: #FFFFFF;

    .popup__header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 0 0 16px 0;
      border-bottom: 1px solid #f5f7f9;

      .popup__title{
        position: relative;
        font-size: 14px;
      }

      .popup__closer{
        position: relative;
        font-size: 12px;
        color: #CCCCCC;
        text-decoration: underline;
        cursor: pointer;

        &:hover{
          color: #dbdbdb;
        }
      }
    }

    .popup__body{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      padding: 24px 0 0 0;
    }
  }
}