.table{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    overflow: hidden;

    .table__head{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        position: relative;
        width: 100%;
        border: 1px solid green;

        .table-row__cell{
            display: flex;
            align-items: center;
            position: relative;
            padding: 8px 16px;
            border-right: 1px solid #ececec;
            background: #cccccc;
    
            &:last-child{
                border: 0;
            }

            &:hover{
                background: #ac2929;
            }
    
            &.table-row__cell--title {
                width: 60%;
            }
    
            &.table-row__cell--price {
                width: 15%;
            }
    
            &.table-row__cell--quantity {
                width: 15%;
                text-align: center;
            }
    
            &.table-row__cell--remove {
                width: 10%;
            }
        }
    }

    .table__body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        width: 100%;
    }
}